@font-face {
  font-family: inconsol;
  src: url(assets/fonts/Inconsolata/Inconsolata-VariableFont_wdth\wght.ttf);
}

:root {
  --font-color: black;
  --bg-color:  rgb(251, 253, 203);
  --box-bg-color:rgb(249, 249, 219);
  --box-shadow1: rgba(0, 0, 0, 0.25);
  --box-shadow2: rgba(0, 0, 0, 0.12);
  --box-shadow3:rgba(0, 0, 0, 0.12);
  --box-shadow4: rgba(0, 0, 0, 0.17);
  --box-shadow5:rgba(0, 0, 0, 0.09);
  --svg1-stroke: #00000009;
  --svg2-stroke: #00000015;
}

[data-theme="dark"] {
  --font-color: white;
  --bg-color:  #20252C;
  --box-bg-color:#282C34;
  --box-shadow1: rgba(0, 0, 0, 0.25);
  --box-shadow2: rgba(0, 0, 0, 0.12);
  --box-shadow3:rgba(0, 0, 0, 0.12);
  --box-shadow4: rgba(0, 0, 0, 0.17);
  --box-shadow5:rgba(0, 0, 0, 0.09);
  --svg1-stroke: #ffffff09;
  --svg2-stroke: #ffffff15;
}

html,
body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  min-width: 280px;
  overflow-x: hidden;
  font-family: inconsol, "Courier New", Courier, monospace;
  color: var(--font-color);
}

html,
body,
h1,
div,
img,
p {
  margin: 0;
  padding: o;
}

body {
  display: grid;
  background-color: var(--bg-color);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

}


.hidden {
  opacity: 0;
  filter: blur(4px);
  transition: all 1s;
  transition: 3s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

header {
  height: auto;
  padding-top: 50px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

section{
  display: grid;
  place-items: center;
  align-items: center;
}

a {
  color: var(--font-color);
  text-decoration: dashed; /* no underline */
}

.title {
  font-size: clamp(1rem, 7vw, 4rem);
}

.subTitle {
  font-size: clamp(1rem, 4vw, 2rem);
  text-align: left;
}

.sectionTitle-container {
  font-size: clamp(1rem, 4vw, 2rem);
  text-align: left;
  width: 80%;
  max-width: 700px;
  margin-top: 200px;
}

.sectionTitle {
  font-size: clamp(1rem, 4vw, 2rem);
  text-align: left;
 
}

.introductionText {
  width: 80%;
  max-width: 700px;
  margin-bottom: 100px;
}

.box {
  background-color: var( --box-bg-color);
  width: 80%;
  max-width: 900px;
  margin-bottom: 100px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 2%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.box:hover {
  transform: scale(1.03);
  transition: 1s;
}

.box:not(:hover) {
  transform: scale(1);
  transition: 1s;
}

.v-align {
  vertical-align: bottom;
}

.text {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}







footer {
  position: relative;
  text-align: center;
  margin-top: 50px;
  height: 50px;
  padding-bottom: 20px;
}



/*###### SCROLL BAR ######*/

/* width */
::-webkit-scrollbar {
  width: 0px;
}


.rainElement {
  position: absolute;
  width: 20px;
  left: -20px;
  z-index: -1;
}

nav{
  text-align: right;
  height: 0;
}

/* The switch -  */
.themeSwitch {
  position: relative;
  display: inline-block;
  margin-top: -50px;
}

.themeSwitch img {
 width: 300px;
}


/*typing animation*/

.typing-animation{
  white-space: nowrap;
  width:fit-content;
  overflow: hidden;    
  animation-name:animated-text ;
  animation-direction: normal;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}


/* animations */


@keyframes animated-text{
  0%{width: 0%;opacity: 1;
    filter: blur(0);}
  100%{width:100%;opacity: 1;
    filter: blur(0);}
}

/* media querys */

  @media (max-width: 1200px) {
    nav {
      display: none;
     }
    }


    @media (max-width: 749px) {
      .v-align {
        vertical-align: none;
      

    }


  }

