@font-face {
  font-family: inconsol;
  src: url(assets/fonts/Inconsolata/Inconsolata-VariableFont_wdth\wght.ttf);
}

:root {
  --font-color: black;
  --bg-color: rgb(255 244 254);
  --box-bg-color: rgb(255 235 252);
  --box-shadow1: rgba(0, 0, 0, 0.25);
  --box-shadow2: rgba(0, 0, 0, 0.12);
  --box-shadow3: rgba(0, 0, 0, 0.12);
  --box-shadow4: rgba(0, 0, 0, 0.17);
  --box-shadow5: rgba(0, 0, 0, 0.09);
  --svg1-stroke: #00000009;
  --svg2-stroke: #00000011;
}

[data-theme="dark"] {
  --font-color: white;
  --bg-color: #20252c;
  --box-bg-color: #282c34;
  --box-shadow1: rgba(0, 0, 0, 0.25);
  --box-shadow2: rgba(0, 0, 0, 0.12);
  --box-shadow3: rgba(0, 0, 0, 0.12);
  --box-shadow4: rgba(0, 0, 0, 0.17);
  --box-shadow5: rgba(0, 0, 0, 0.09);
  --svg1-stroke: #ffffff09;
  --svg2-stroke: #ffffff15;
}

html,
body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  min-width: 280px;
  overflow-x: hidden;
  font-family: inconsol, "Courier New", Courier, monospace;
  color: var(--font-color);
}

html,
body,
h1,
div,
img,
p {
  margin: 0;
  padding: o;
}

body {
  display: grid;
  background-color: var(--bg-color);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.hidden {
  opacity: 0;
  filter: blur(4px);
  transition: all 1s;
  transition: 3s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

header {
  height: auto;
  padding-top: 50px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

section {
  margin-top: 100px;
  display: grid;
  gap: 1rm;
  grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 2fr));
  place-items: center;
  align-items: center;
}

.sectionTitleL {
  display: block;
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}

.sectionTextL {
  display: block;
  grid-row: 3 / span 2;
  grid-column: 1 / span 2;
}

.sectionItemL1 {
  display: block;
  grid-row: 1 / span 5;
  grid-column: 3 / span 3;
}

.sectionTitleR {
  display: block;
  grid-row: 1 / span 2;
  grid-column: 4 / span 2;
}

.sectionTextR {
  display: block;
  grid-row: 3 / span 2;
  grid-column: 4 / span 2;
}

.sectionItemR1 {
  display: block;
  grid-row: 1 / span 5;
  grid-column: 1 / span 3;
}

#heart svg {
  width: 600px;
  height: 600px;
}

#heart .path {
  stroke-dasharray: 850;
  stroke-dashoffset: 850;
  animation: animate1 40s linear infinite forwards;
}

#word svg {
  width: 600px;
  height: 600px;
}

#word .path {
  stroke-dasharray: 850;
  stroke-dashoffset: 850;
  animation: animate1 30s linear infinite forwards;
}

a {
  color: var(--font-color);
  text-decoration: dashed; /* no underline */
}

.title {
  font-size: clamp(2rem, 10vw, 4rem);
}

.subTitle {
  font-size: clamp(1.5rem, 4vw, 2rem);
  text-align: left;
}

.introductionText {
  width: 80%;
  max-width: 700px;
  margin-bottom: 100px;
}

.text {
  width: 80%;
  font-size: clamp(1rem, 1vw, 1rem);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

footer {
  position: relative;
  text-align: center;
  margin-top: 50px;
  height: 50px;
  padding-bottom: 20px;
}

/*###### SCROLL BAR ######*/

/* width */
::-webkit-scrollbar {
  width: 0px;
}

nav {
  text-align: right;
  height: 0;
}

/* The switch -  */
.themeSwitch {
  position: relative;
  display: inline-block;
  margin-top: -50px;
}

.themeSwitch img {
  width: 300px;
}

/*typing animation*/

.typing-animation {
  white-space: nowrap;
  width: fit-content;
  overflow: hidden;
  animation-name: animated-text;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* animations */

@keyframes animate1 {
  0% {
    stroke-dashoffset: 850;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 850;
  }
}

@keyframes animated-text {
  0% {
    width: 0%;
    opacity: 1;
    filter: blur(0);
  }
  100% {
    width: 100%;
    opacity: 1;
    filter: blur(0);
  }
}

/* media querys */

@media (max-width: 1000px) {
  nav {
    display: none;
  }
  #word svg {
    width: 45vw;
    height: 600px;
  }
  #heart svg {
    width: 45vw;
    height: 600px;
  }

  .sectionTitleL {
    grid-row: 1 / span 2;
    grid-column: 1 / span 3;
  }

  .sectionTextL {
    grid-row: 3 / span 2;
    grid-column: 1 / span 3;
  }

  .sectionItemL1 {
    grid-row: 1 / span 5;
    grid-column: 4 / span 3;
  }

  .sectionTitleR {
    grid-row: 1 / span 2;
    grid-column: 3 / span 3;
  }

  .sectionTextR {
    grid-row: 3 / span 2;
    grid-column: 3 / span 3;
  }

  .sectionItemR1 {
    grid-row: 1 / span 5;
    grid-column: 1 / span 2;
  }
}

@media (max-width: 750px) {
  #word svg {
    width: 75vw;
    height: 400px;
  }
  #heart svg {
    width: 75vw;
    height: 400px;
  }

  section {
    margin-top: 100px;
    display: grid;
    gap: 1rm;
    grid-template-columns: repeat(1, minmax(100vw, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    place-items: center;
    align-items: center;
  }

  .sectionTitleL {
    grid-row: 1;
    grid-column: 1;
  }

  .sectionTextL {
    grid-row: 2 / span 2;
    grid-column: 1;
  }

  .sectionItemL1 {
    grid-row: 5;
    grid-column: 1;
  }

  .sectionTitleR {
    grid-row: 1;
    grid-column: 1;
  }

  .sectionTextR {
    grid-row: 2 / span 2;
    grid-column: 1;
  }

  .sectionItemR1 {
    grid-row: 5;
    grid-column: 1;
  }
}

@media (max-width: 600px) {
  .sectionTextL {
    grid-row: 3;
    grid-column: 1;
  }

  .sectionItemL1 {
    grid-row: 6;
    grid-column: 1;
  }

  .sectionTextR {
    grid-row: 3;
    grid-column: 1;
  }

  .sectionItemR1 {
    grid-row: 6;
    grid-column: 1;
  }
}

@media (max-width: 350px) {
  .sectionTextL {
    grid-row: 4;
    grid-column: 1;
  }

  .sectionItemL1 {
    grid-row: 7;
    grid-column: 1;
  }

  .sectionTextR {
    grid-row: 4;
    grid-column: 1;
  }

  .sectionItemR1 {
    grid-row: 7;
    grid-column: 1;
  }
}
